<h1>Clientes</h1>

<ul>
    {% for cliente in clientes %}
        <li>{{  cliente.nome }} - {{ cliente.email }}</li>
    {% endfor %}

    <p><a href="{{ url('home') }}">Home</a> </p>
    <p><a href="{{ url('cadcliente') }}">Cadastro de cliente</a></p>
    <p><a href="{{ url('listClientes') }}">Lista de clientes</a> </p>
</ul>